<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>The followup app</h1>
      <P>Please check your email, we've sent verification link to your email.</p>
    </div>
  </body>
</html>
